/* место для вашего кода */
header {
  height: 109px;
  display: flex;
  justify-content: space-between;
  margin: 92px 51px 92px 51px;
  align-items: center;
}
.header__menu {
  display: flex;
  list-style: circle;
  gap: 33px;
  justify-content: start;
  font-size: 18px;
  font-style: normal;
}

.header__link {
  text-decoration: none;
}
.header__link_active {
  text-decoration: underline;
}
.header__logo {
  margin: 0 351px 0 213px;
}

address {
  padding: 0 0 0 5px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  background-size: cover;
  background-image: url(/images/cover.jpg);
  width: 100%;
  height: 757px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}
.cover__title {
  display: block;
  font-weight: bold;
  font-size: 100px;
  position: relative;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  text-align: start;
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}
.aligned-text_center {
  padding-top: 25px;
  text-align: center;
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 60px;
  text-transform: uppercase;
}
.aligned-text_right {
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 25px;
  text-align: end;
}
.cover__description {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
  padding-top: 125px;
  padding-bottom: 50px;
}
.cover__description-text {
  font-size: 22px;
  font-style: normal;
  position: sticky;
  color: white;
  word-spacing: 18px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  padding-right: 80px;
}
.bet-button {
  position: sticky;
  background: transparent;
  color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  justify-content: flex-end;
}

.lots {
  margin-top: 182px;
  margin-left: 50px;
  margin-right: 50px;
}
.lots__heading {
  padding-left: 42px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card_type_film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  margin-right: 25px;
}
.card_type_book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  margin-right: 25px;
}
.card_type_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
}

.lots__card-list {
  display: flex;
  position: relative;

  margin-top: 27px;
  height: 100%;
}
.card__title {
  position: relative;
  padding: 50px 40px 0 40px;

  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  padding: 30px 40px 50px 40px;

  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  padding: 28px 0 0 40px;
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.about {
  margin: 183px 50px 0 50px;
}
.about__column {
  justify-content: space-between;
  display: flex;
  gap: 120px;
}
.about__logo {
  float: left;
  margin: 0 95px 0 95px;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 360px;
}
.about__logo-image {
  padding: 63px 46px;
  justify-content: center;
}
.about__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  margin: 100px 0 0 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__text p {
  padding: 25px 0 00;
}
.column {
  margin: 100px 0 0 25px;

  width: 70%;
}

footer {
  margin: 180px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}
.footer__menu-list-item {
  text-align: center;
  list-style-type: none;
}
.footer__menu-link-active {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
}
.footer__menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__social-list-item {
  width: 48px;
}

.footer__social-icon {
  display: flex;
  list-style-type: none;
  column-gap: 48px;
}
