/* место для вашего кода */
header {
  height: 109px;
  display: flex;
  justify-content: space-between;
  margin: 92px 50px 92px 50px;
  align-items: center;
}
.header__menu {
  display: flex;
  list-style: circle;
  gap: 32px;
  justify-content: start;
  font-size: 18px;
  font-style: normal;
}

address {
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
  background-size: cover;
  background-image: url(/images/cover.jpg);
  width: 100%;
  height: 757px;
}

.cover__title {
  position: relative;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.aligned-text {
  text-align: start;
}
.aligned-text_center {
  padding-top: 20px;
  text-align: center;
}
.aligned-text_right {
  padding-top: 20px;
  text-align: end;
}
.cover__description {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
  padding-top: 135px;
}
.cover__description-text {
  font-size: 22px;
  font-style: normal;
  position: sticky;
  color: white;
  
  word-spacing: 18px;
  
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  padding-right: 80px;
}
.bet-button {
  position: sticky;
  background: transparent;
  color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  justify-content: flex-end;
}

.lots {
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
}
.lots__heading {
  padding-left: 40px;
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
  grid-column: 3;
  width: 100%;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;

  margin-right: 25px;
  flex-direction: column;
}
.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  margin-right: 25px;
  flex-direction: column;
}
.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;

  flex-direction: column;
}
